@{
    ViewBag.Title = "Home Page";
}
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Welcome </h3>
                <h1>Decent Restaurant</h1>
                <hr>
                @*<ul>
                    <li>@Html.ActionLink("Menu", "Index", "Foods", null, new { @class = "smoothScroll" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "smoothScroll" })</li>
                    </ul>*@
                <a href="~/Foods" class="smoothScroll btn btn-danger">Menu</a>
                <a href="~/Home/Contact" class="smoothScroll btn btn-default">Contact</a>
            </div>
        </div>
    </div>
</section>
